body {
    background-color: #8B0000;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: cyan ;
    text-align: justify;
}
h3 {
    color: darkblue;
    text-align: justify;

img {
    width: 250px;
}

